<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layout :: head('team detail')"></head>
<body>
<div th:replace="layout :: nav"></div>
<div th:replace="layout :: searchbar"></div>
<div th:replace="layout :: flash"></div>

<h1 th:text="${team.teamName}"></h1>
<h2 th:text="${team.managerName}"></h2>
<h3 th:text="${team.homeGround}"></h3>

<table>
    <tr>
        <th>Player name</th>
    </tr>
    <tr th:each="name : ${roster}">
        <td th:text="${name}"></td>

    </tr>
</table>

<div th:replace="layout :: scripts"></div>
</body>
</html>